<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            padding-top: 80px; /* Ajuste para a navbar fixa */
        }
        .product-item {
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f8f8f8;
            margin-bottom: 20px;
            padding: 15px;
        }
        .product-image {
            max-height: 150px; /* Ajuste a altura conforme necessário */
        }
        .product-info {
            padding-left: 20px; /* Espaço entre imagem e informações */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">E-commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="display: flex; flex-direction: row; justify-content: space-between">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cart">Carrinho</a>
                </li>
            </ul>
            {% if session['user'] %}
                <div>
                    <img width="30px" height="30px" style="border-radius: 50%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2rFNJSKPLohcn_M4_oUGRIXub5q5GXPuOWg&usqp=CAU" alt="Foto de perfil">
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <h2>Carrinho de Compras</h2>
        {% if cart_items %}
            {% for item in cart_items %}
                <div class="product-item row">
                    <div class="col-md-2">
                        <img src="{{ item['image_url'] }}" alt="{{ item['name'] }}" class="product-image img-fluid">
                    </div>
                    <div class="col-md-10 product-info">
                        <h3>{{ item['name'] }}</h3>
                        <p>{{ item['description'] }}</p>
                        <p>Preço: {{ item['price'] }}</p>
                        <form id="remove-form-{{ item['product_id'] }}" action="/cart/remove" method="post">
                            <button type="button" onclick="removeFromCart('{{ item['product_id'] }}')" class="btn btn-danger">Remover</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            <div class="text-right">
                <form action="/cart/checkout" method="post">
                    <button type="button" onclick="finishPurchase()" class="btn btn-success">Finalizar Compra</button>
                </form>
                </div>
                    {% else %}
                    <p>Seu carrinho está vazio.</p>
                    {% endif %}
                </div>
        <!-- Scripts do Bootstrap aqui -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
        function removeFromCart(productId) {
            if (confirm("Tem certeza que deseja remover o item do carrinho?")) {
                const formData = new FormData();
                formData.append('product_id', productId);

                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/cart/remove', true);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        window.location.reload();
                    } else {
                        alert('Erro ao remover o item do carrinho');
                    }
                };
                xhr.send(formData);
            }
        }

        function finishPurchase() {
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/cart/checkout', true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    window.location.href = '/';
                    alert('Compra finalizada com sucesso');
                } else {
                    alert('Falha na finalização da compra');
                }
            }
            xhr.send();
        }
    </script>

</body>
</html>


